
@font-face {
    font-family: turok;
    src: url("/fuentes/Turok.ttf");
}

@font-face {
    font-family: fornite;
    src: url("/fuentes/Fortnite.ttf");
}


@font-face {
    font-family: Fornite;
    src: url("/fuentes/Fortnite.ttf");
}